/* Default settings Start */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
/* Default settings End */

/* DEBUG IOS */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Body */
body {
  margin: 0;

  /* font-family: 'Raleway', sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #86878b;

  -webkit-font-smoothing: antialiased;
}

/* Page */
.page {
  overflow: hidden;
}

/* Container */
.container {
  margin: 0 auto;

  width: 100%;
  max-width: 930px;
  padding: 0 15px;
}

/* HEADER
=============== */
.header {
  width: 100%;
  height: 70px;

  background: linear-gradient(270deg, #000000, #ffa50000);
  background-size: 200% 200%;
  animation: header-gradient 5s ease infinite;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Js Start */
.header-active {
  background: #000;
  animation: none;

  position: fixed;
  z-index: 10;
}
/* Js Start */

/* header-animation Start */
@keyframes header-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* header-animation End */

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
.header-logo:active {
  opacity: 0.9;
}

.header-logo span {
  color: orange;
}

/* nav */
.nav {
  display: block;
}

.nav-link {
  font-size: 12px;
  font-weight: 600;
  color: #fff;

  margin-left: 25px;
  opacity: 0.7;
}
.nav-link:first-child {
  margin-left: 0;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link:active {
  color: orange;
}

/* burger */
.burger {
  display: none;

  background: none;
  border: none;
  padding: 8px 0;

  cursor: pointer;
}
.burger-item {
  display: block;
  width: 25px;
  height: 2px;

  font-size: 0;
  color: transparent;
  background-color: orange;
  border-radius: 2px;

  position: relative;
  transition: all 0.1s linear;
}
.burger-item::before,
.burger-item:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 2px;

  position: absolute;
  left: 0;
  z-index: 1;

  transition: all 0.3s linear;
}
.burger-item::before {
  top: -8px;
}
.burger-item::after {
  top: 8px;
}

/* Js Start */
.burger-active .burger-item {
  background-color: #000;
}
.burger-active .burger-item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateY(-2px);
}
.burger-active .burger-item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateY(1px);
}
/* Js End */

/* INTRO
=============== */
.intro {
  height: 590px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("img/intro-back-original.jpg") center no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-inner {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* About */
.intro-about {
  width: 55%;
}
.about-logo {
  font-size: 46px;
  margin-bottom: 25px;
}
.about-sup_title {
  width: 100%;
  max-width: 340px;

  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;

  text-transform: uppercase;
  cursor: default;
  margin-bottom: 25px;

  transition: opacity 0.3 linear;
}

/* Decoration-streake Start */
.about-streak {
  width: 65px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}
.about-decoration:hover .description-title {
  color: #ffa500e3;
}
.streake-orange,
.about-decoration:hover .about-streak {
  background-color: orange;
}
.decoration-orange:hover .streake-orange,
.awesome-decoration:hover .awesome-streake {
  background-color: #86878b;
}
.awesome-decoration:hover .about-sup_title {
  opacity: 0.8;
}
/* Decoration-streake End */

.about-sub_title {
  width: 100%;
  max-width: 415px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.5;

  opacity: 0.8;
  transition: opacity 0.2s linear;
}
.about-sub_title:hover {
  opacity: 1;
}

/* Btn Start */
/* 1 */
.download {
  width: 130px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.2s linear;
}
.download:hover {
  border: 2px solid orange;
}
.download:active,
.download-orange:active {
  opacity: 0.8;
}
.download p,
.download-orange p {
  font-weight: 600;
  color: #fff;
  transition: color 0.2s linear, opacity 0.2s linear;
}
.download:hover p {
  color: orange;
}

/* 2 */
.download-orange {
  width: 120px;
  height: 35px;
  background-color: orange;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s linear;
}
.download-orange:hover {
  background-color: #333333;
}
/* Btn End */

/* Input */
.intro-input {
  width: 40%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input-inner {
  width: 100%;
  max-width: 270px;

  transition: box-shadow 0.3s linear;
}
.input-inner:hover {
  box-shadow: 1px 1px 15px #ffa50080;
}

/* form(Ipnut) */
.intro-form {
  height: 50px;
  text-align: center;
}
.intro-form_top {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: default;
}
.intro-form_bottom {
  padding: 0;
  width: 100%;
  background-color: orange;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  outline: none;
  border: none;
  cursor: pointer;
}
.intro-form_bottom:hover {
  color: #000;
}
.intro-form_bottom:active {
  opacity: 0.8;
}

/* title(Ipnut) */
.intro-title {
  font-size: 13px;
  font-weight: 600;
}
.intro-sup_title {
  color: #000;
}
.intro-sup_title span {
  color: orange;
}
.intro-sub_title {
  color: #fff;
  transition: color 0.2s linear;
}

/* submit(Input) */
.input-submit {
  height: 210px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submit-inner {
  margin: 0 auto;
  max-width: 190px;
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.submit {
  width: 100%;
  padding: 5px 0;

  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;

  color: #000;
  outline: none;
  border: none;

  border-bottom: 2px solid #dadada94;
  transition: border-bottom 0.2s linear;
}
.submit-padding {
  padding-top: 0;
}

.submit:focus {
  border-bottom: 2px solid orange;
}

/* Social
=============== */
.social {
  height: 90px;
  background-color: #fff;

  display: flex;
  align-items: center;
}
.social-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media {
  width: 40%;
  margin-right: 15px;
}
.social-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000;

  margin-bottom: 7px;
  cursor: default;
}
.social-text {
  line-height: 1.3;
}
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons .social-link {
  margin-left: 50px;
}
.social-icons .social-link:first-child {
  margin-left: 0;
}

/* Font awesome Start */
.fab {
  color: #b7b7b7;
  transition: color 0.2s linear;
}
.fab:hover {
  color: orange;
}
.fab:active {
  opacity: 0.8;
}
/* Font awesome End */

/* Tabs
=============== */
.tabs {
  height: 525px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Click */
.tabs-click {
  width: 20%;
}
.click-item {
  width: 100%;
  max-width: 90px;
  height: 90px;
  background-color: #333333;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1px;
  transition: opacity 0.2s linear;
}
.click-item:last-child {
  margin-bottom: 0;
}
.click-item:hover {
  opacity: 0.9;
}
.click-item:active {
  opacity: 1;
}
.click-name {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

/* Js Start */
.tab-active {
  background-color: orange;
}
/* Js End */

/* Item */
.item-wrapper {
  display: none;

  width: 80%;
  flex-direction: column;
}

/* Js Start */
.item-active {
  display: flex;
}
/* Js End */

.tabs-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Description */
.item-description {
  width: 100%;
  max-width: 380px;
  margin-right: 20px;
}
.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000;

  margin-bottom: 25px;
  cursor: default;

  transition: color 0.2s linear;
}
.description-text span {
  color: orange;
  font-weight: bold;
}
.description-margin {
  margin-bottom: 33px;
}

/* Icons */
.item-img {
  width: 100%;
  max-width: 270px;
  height: auto;

  display: block;
  border-radius: 3px;
  animation: img-pulse 3s infinite;
}
.item-img:hover {
  animation: none;
}

/* tabs-animation Start */
@keyframes img-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 202, 43, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
/* tabs-animation End */

/* Sublist
=============== */
.sublist {
  height: 525px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icons */
.sublist-img {
  width: 100%;
  max-width: 380px;
  height: auto;

  display: block;
  border-radius: 3px;
  box-shadow: 1px 2px 20px #8d8d8d;
  transition: 1s;
}
.sublist-img:hover {
  transform: scale(0.9);
  filter: grayscale(50%);
}

/* Description */
.sublist-description {
  width: 45%;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
}
.sablist-text_margin {
  margin: 25px 0 25px;
}

/* Block */
.sublist-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sublist-block:last-child {
  margin-bottom: 0;
}
.sublist-block:hover .block-roster {
  opacity: 1;
}
.block-roster {
  width: 33px;
  height: 33px;
  border: 2px solid orange;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  transition: opacity 0.2s linear;
}
.block-text {
  width: 90%;
  margin-left: 20px;
}
.block-title {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #000;

  margin-bottom: 5px;
  cursor: default;
}

/* PICTURE SECTION
=============== */
.p-section_description {
  width: 45%;
  margin-right: 30px;
}
.p-section_text_margin {
  margin-top: 25px;
}

/* AWESOME
=============== */
.awesome-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.awesome-sup_title {
  color: #000;
}

.awesome-streake {
  margin: 0 auto;
  transition: background-color 0.2s linear;
}

/* Selection */
.awesome-selection {
  display: flex;
  justify-content: space-between;

  margin: 0 -5px;
}
.selection-item {
  width: 33%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 0 5px;
}
.selection-item:hover .block-awesome {
  opacity: 1;
}
.block-awesome {
  width: 45px;
  height: 45px;
  margin-top: 50px;

  opacity: 0.7;
  transition: opacity 0.2s linear;
}
.awesome-title {
  margin: 20px 0 20px;
}

/* PRICING
=============== */
.pricing {
  height: 675px;
}
.selection-pricing {
  width: 33%;
  margin-top: 75px;

  text-align: center;
  opacity: 0.95;
  transition: opacity 0.2s linear;
}
.selection-pricing:nth-child(1) {
  padding: 0 15px 0 10px;
}
.selection-pricing:nth-child(2) {
  margin-top: 50px;
  box-shadow: 1px 2px 20px #8d8d8d82;
  opacity: 1;
}
.selection-pricing:nth-child(3) {
  padding: 0 10px 0 15px;
}
.selection-pricing:hover {
  opacity: 1;
}
.pricing-item {
  width: 100%;
  background-color: #333333;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1 */
.pricing-title {
  height: 50px;
  border-bottom: 1px solid #fff;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.title-style {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;

  cursor: default;
}

/* 2 */
.pricing-title_sup {
  height: 100px;

  display: flex;
  flex-direction: column;
}
.title_sup-style {
  font-size: 24px;
  margin-bottom: 10px;
}
.pricing-title_sup p {
  font-style: italic;
}

/* 3 */
.pricing-border_orange {
  height: 5px;
  background-color: orange;
}
.selection-pricing:nth-child(2) .pricing-border_orange {
  height: 35px;
}
.selection-pricing:nth-child(2) .pricing-border_orange p {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

/* 4 */
.prcing-description {
  height: 200px;

  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-direction: column;
}
.pricing-text {
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 0;
}

/* REVIEWS
=============== */
.reviews {
  height: 430px;
}
.reviews-item {
  text-align: start;
}
.reviews-item:hover .reviews-form {
  box-shadow: 7px -6px 20px #aeaeae66;
}
.reviews-width {
  max-width: 380px;
}
.reviews-wrapper {
  margin-top: 50px;
}
.reviews-form {
  width: 100%;
  max-width: 215px;
  height: 100px;
  padding: 0 10px;
  margin-bottom: 20px;

  background-color: #f5f5f5;
  border-radius: 5px;

  display: flex;
  align-items: center;

  transition: box-shadow 0.3s linear;
  position: relative;
}
.reviews-form:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -10px;
  z-index: 1;

  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;

  transform: rotate(45deg);
}
.reviews-text {
  line-height: 1.2;
  font-style: italic;
}
.reviews-client {
  display: flex;
  align-items: center;
}
.reviews-img {
  width: 65px;

  display: block;
  border-radius: 50%;
}
.reviews-name {
  margin-left: 10px;
}
.reviews-title {
  font-size: 13px;
  margin-bottom: 3px;
}

/* Design */
.reviews-design {
  height: 130px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/reviews/reviews-back.jpg") center no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
  animation: design-animation 25s ease-in-out infinite;
}

/* deisgn-animation Start */
@keyframes design-animation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
/* design-animation End */

.design-title {
  margin-bottom: 15px;
}
.design-text {
  color: #fff;
  margin-top: 15px;
}

/* Send */
.send-message {
  margin: 33px auto 0;

  border: none;
  display: flex;
  text-align: center;

  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* CONTACT
=============== */
.contact {
  height: 530px;
}
.contact-form {
  width: 100%;
  margin-top: 50px;
}
.form-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-one {
  width: 45%;
  display: flex;
  flex-direction: column;

  transition: box-shadow 0.2s linear;
}
.form-one:hover,
.form-textarea:hover {
  box-shadow: 1px 1px 15px #c4c4c480;
}
.sumbit-contact {
  padding: 15px 5px 5px;
}
.textarea-contact {
  outline: none;
  border: 0;
  border-bottom: 2px solid #f5f5f5;
}
.form-textarea {
  width: 45%;
  height: 145px;
  padding: 0 5px;

  resize: none;
  transition: box-shadow 0.2s linear;
}

/* FOOTER
=============== */
.footer {
  width: 100%;
  height: 80px;
  background-color: #000;

  display: flex;
  align-items: center;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons .footer-link {
  margin-left: 25px;
}
.social-icons .footer-link:first-child {
  margin-left: 0;
}
.footer-copyright {
  margin-top: 7px;
}
.footer-copyright p {
  color: #86878b;
  transition: color 0.2s linear;
}
.footer-copyright:hover p {
  color: #fff;
}
.footer-copyright:active p {
  opacity: 0.8;
}

/* MODAL
=============== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Js Start */
.modal.show {
  display: flex;
}
/* Js End */

.modal-dialog {
  margin: auto;
  padding: 25px;
}
.modal-content {
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #8d8d8d;
  position: relative;
}
.modal-close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.modal-close:hover {
  opacity: 1;
}
.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}
.modal-title span {
  color: orange;
}

/* MEDIA 940 800 600 510 400 330
=============== */

/* 940 */
@media (max-width: 950px) {
  /* PRICING
    =============== */
  .pricing-text,
  .selection-pricing:nth-child(2) .pricing-border_orange p {
    font-size: 12px;
  }

  /* CONTACT
    =============== */
  .form-flex {
    justify-content: space-evenly;
  }
}

/* 800 */
@media (max-width: 800px) {
  /* HEADER
    =============== */
  .header {
    background: #000;
    animation: none;
    box-shadow: 0px 0px 5px #ff8400;
  }

  /* INTRO
    =============== */
  .about-logo {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .about-sup_title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .about-sub_title {
    margin: 15px 0;
  }
  .download {
    width: 110px;
  }

  /* nav */
  .nav {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 100%;
    right: 0;

    background-color: #000;
    box-shadow: inset 0px 0px 5px #ff8400;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .nav-link {
    margin-left: 0;
    padding: 5px 20px;
  }

  /* Js Start */
  .nav-active {
    display: flex;
  }
  /* Js End */

  /* burger */
  .burger {
    display: block;
  }

  /* SOCIAL
    =============== */
  .social {
    height: 120px;
  }

  .social-inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .social-media {
    width: 100%;
    margin-right: 0;
  }
  .social-title {
    margin-bottom: 5px;
  }
  .social-text {
    margin-bottom: 7px;
  }
  .social-inner .social-icons {
    transform: scale(0.7);
  }

  /* TABS
    =============== */
  .tabs {
    height: 600px;
  }
  .tabs-click {
    width: 100%;

    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .click-item {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 3px;
  }
  .click-name span {
    display: none;
  }
  .click-item:last-child {
    margin-right: 0;
  }
  .item-wrapper {
    width: 100%;
  }
  .tabs-item {
    flex-direction: column;
  }
  .item-description {
    order: 2;
    margin-right: 0;
  }
  .item-img {
    max-width: 190px;
    order: 1;
    margin-bottom: 25px;
  }
  .download-margin {
    margin: 0 auto;
  }

  /* SUBLIST
    =============== */
  .sublist {
    height: 575px;
  }
  .sublist-inner,
  .picture-inner {
    flex-wrap: wrap;
    text-align: start;
  }
  .sublist-description {
    width: 80%;
    margin-left: 0;
    margin-top: 50px;
  }
  .sublist-img {
    max-width: 250px;
    order: 1;
  }

  /* PICTURE SECTION
    =============== */
  .picture {
    height: 500px;
  }
  .p-section_description {
    width: 80%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  /* AWESOME
    =============== */
  .awesome {
    height: 725px;
  }
  .awesome-selection {
    flex-wrap: wrap;
  }
  .selection-item {
    width: 100%;
  }
  .block-awesome {
    margin-top: 25px;
  }
  .selection-item p {
    max-width: 300px;
  }

  /* PRICING
    =============== */
  .pricing {
    height: 1050px;
  }
  .awesome-selection {
    flex-wrap: wrap;
    justify-content: center;
  }
  .selection-pricing {
    width: 50%;
  }
  .selection-pricing:nth-child(2) {
    width: 51%;
    order: 1;
  }
  .selection-pricing:nth-child(1) {
    order: 2;
    margin-top: 50px;
  }
  .selection-pricing:nth-child(3) {
    order: 3;
    margin-top: 50px;
  }

  /* REVIEWS
    =============== */
  .reviews {
    height: 650px;
  }
  .reviews-item {
    width: 50%;
  }
  .reviews-item:nth-child(3) .reviews-wrapper {
    margin-top: 25px;
  }

  /* CONTACT
    =============== */
  .contact {
    height: 475px;
  }
}

/* 600 */
@media (max-width: 600px) {
  /* INTRO
    =============== */
  .intro-inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    padding-top: 50px;
  }
  .intro-about {
    width: 100%;
    margin-bottom: 33px;
  }
  .intro-input {
    width: 235px;
  }
  .about-sup_title,
  .about-sub_title {
    max-width: 100%;
  }
  .about-sub_title {
    opacity: 0.9;
  }
  .intro-streak {
    margin: 0 auto;
  }
  .intro-sup_title span {
    display: none;
  }
  .download {
    margin: 0 auto;
  }

  /* REVIEWS
    =============== */
  .reviews-design {
    background-size: cover;
    animation: none;
  }
}

/* 510 */
@media (max-width: 510px) {
  /* INTRO
    =============== */
  .intro {
    height: 665px;
  }

  /* SUBLIST
    =============== */
  .sublist {
    height: 675px;
  }

  /* PICTURE
    =============== */
  .picture {
    height: 550px;
  }

  /* AWESOME
    =============== */
  .awesome {
    height: 700px;
  }

  /* PRICING
    =============== */
  .pricing {
    height: 1000px;
  }
  .title-style {
    font-size: 15px;
  }
  .title_sup-style {
    font-size: 20px;
  }
  .pricing-text,
  .selection-pricing:nth-child(2) .pricing-border_orange p {
    font-size: 11px;
    padding: 4px 0;
  }
  .selection-pricing:nth-child(2) .pricing-text {
    padding: 7px 0;
  }

  /* REVIEWS
    =============== */
  .reviews {
    height: 615px;
  }
  .selection-item p {
    text-align: center;
  }

  /* CONTACT
    =============== */
  .contact {
    height: 550px;
  }

  .form-flex {
    flex-direction: column;
  }
  .form-one {
    width: 100%;
  }
  .form-textarea {
    width: 100%;
    margin-top: 50px;
    height: 75px;
  }
}

/* 400 */
@media (max-width: 400px) {
  /* PRICING
    =============== */
  .title-style {
    font-size: 14px;
  }
  .pricing-title_sup p {
    font-size: 11px;
  }
  .title_sup-style {
    font-size: 18px;
  }
  .pricing-text,
  .selection-pricing:nth-child(2) .pricing-border_orange p {
    font-size: 10px;
  }
}

/* 350 */
@media (max-width: 350px) {
  /* Body */
  body {
    font-size: 11px;
  }

  /* PRICING
    =============== */
  .pricing-text,
  .selection-pricing:nth-child(2) .pricing-border_orange p {
    font-size: 9px;
  }

  /* REVIEWS
    =============== */
  .reviews-img {
    width: 45px;
  }
}

/* 330 */
@media (max-width: 330px) {
  /* SOCIAL
    =============== */
  .social-inner .social-icons {
    transform: scale(0.6);
  }

  /* PRICING
    =============== */
  .pricing-text,
  .selection-pricing:nth-child(2) .pricing-border_orange p {
    font-size: 8px;
  }

  /* REVIEWS
    =============== */
  .selection-item p {
    font-size: 10px;
  }
}
